RewriteEngine On

RewriteRule ^api/docs api/api.php
RewriteRule ^api/v1/authenticate api/auth.php
RewriteRule ^api/v1/([A-Za-z0-9/]+) api/api.php/$1 [QSA,L]

RewriteRule ^dashboard pages/dash/dashboard.html
